body{
    background-color: rgb(37, 37, 37);
    padding: 0;
    font-family: Dosis;
    margin: 0;
    padding-bottom: 100px;
}
.intro{
    color: aliceblue;
    margin-top: 0;
    text-align: center;
    
    width: 100%;
    background-color: rgb(230, 55, 55);
    
    position: sticky;
    top: 0;
    animation: enace-header linear both;
    animation-timeline: scroll(root block);
    animation-range: 0 200px;
    z-index: 1;
}
.intro2{
    background-color: azure;
    padding: 10px;
    border-radius: 8px;
    margin: 10px;
    margin-top: 50px;
    text-align: center;

}
.intro3{
    background-color: azure;
    padding: 10px;
    border-radius: 8px;
    margin: 10px;
    margin-top: 50px;
    text-align: center;

}
@keyframes revelar {
    from
    {
        opacity: 0;
        translate: 0 100px;
        scale: 0.5;
    }
    to{
        opacity: 1;
        translate: 0 0;
        scale: 1;
    }
    
}
@keyframes enace-header{
    to{
        background-color: rgb(9, 12, 10);
        backdrop-filter: blur(4px);
        
        color: rgb(219, 202, 241);
    }

}
section{
    background: linear-gradient(yellow, rgb(88, 57, 57));

    border-radius: 8px;
    box-shadow: 1px 1px 10px white;
    columns: 2;
    padding: 16px;
    column-gap: 25px;
    margin-top: 50px;
}

section img{
    border-radius: 8px;
    
    cursor: pointer;
    width: 100%;
    height: 100%;
    max-height: 620px;
    margin-bottom: 10px;
    border: solid 1.5px white;
    box-shadow: 1px 1px 10px white ;
    animation: revelar linear ;
    animation-timeline: view();
    animation-range: entry 30% cover 60%;
}
.dentro{
    background-color: aliceblue;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px red;
    animation: revelar linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 35%;
}

.full-screen {
    width: 50%;
    height: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}
footer{
    color: white;
    text-align: center;
    
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    
}
.animated-image {
    
    animation: revelar linear;
    animation-play-state: running;
}
.frame iframe{
    width: 100%;
    max-width: 500px;
    gap: 20px;
}
