body{
    background-color: rgb(37, 37, 37);
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding-bottom: 100px;
}
h2{
    color: aliceblue;
    text-align: center;
    
    width: 100%;
    background-color: rgb(138, 33, 33);
    
    position: sticky;
    top: 0;
    animation: enace-header linear both;
    animation-timeline: scroll(root block);
    animation-range: 0 200px;
    z-index: 1;
}
@keyframes revelar {
    from
    {
        opacity: 0;
        translate: 0 100px;
        scale: 0.5;
    }
    to{
        opacity: 1;
        translate: 0 0;
        scale: 1;
    }
    
}
@keyframes enace-header{
    to{
        background-color: aliceblue;
        backdrop-filter: blur(4px);
        font-size: 30px;
        color: black;
    }

}
section{
    columns: 2;
    padding: 16px;
    column-gap: 32px;
    margin-top: 50px;
}

section img{
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    height: 100%;
    max-height: 620px;
    margin-bottom: 10px;
    border: solid 1.5px white;
    box-shadow: 1px 1px 10px white ;
    animation: revelar linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 30%;
}